In [1]:
# Program to find the sum of all numbers stored in a list

my_list = [1,2,3,4,5,6,7,8,9]
sum = 0

for i in my_list:
    
    sum = sum+i
    print(sum)

1
3
6
10
15
21
28
36
45

In [5]:
# Program to iterate through a list using indexing

list1 = ['abc', 'cbv','agfh','aghy']

for i in range(len(list1)):
    print(list1[i])

abc
cbv
agfh
aghy

In [6]:
# Program to print squares of all numbers present in a list

list2 = [2,4,6,5,7]

sq = 0

for i in list2:
    sq = i * i
    print(sq)

4
16
36
25
49

In [8]:
# Program to print the sum of first 5 natural numbers

su = 0

for i in range(1,6):
    su = su + i
    print(su)

1
3
6
10
15

In [11]:
#nested loop

for i in range(3):
    for m in range(10,13):
        print(i, "******", m)

0 ****** 10
0 ****** 11
0 ****** 12
1 ****** 10
1 ****** 11
1 ****** 12
2 ****** 10
2 ****** 11
2 ****** 12

In [1]:
my_list = []

for i in range(0,101,5):
    my_list.append(i)
    print(my_list)

[0]
[0, 5]
[0, 5, 10]
[0, 5, 10, 15]
[0, 5, 10, 15, 20]
[0, 5, 10, 15, 20, 25]
[0, 5, 10, 15, 20, 25, 30]
[0, 5, 10, 15, 20, 25, 30, 35]
[0, 5, 10, 15, 20, 25, 30, 35, 40]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [1]:
num=[]
for i in range(50, 151):
    if i % 2 ==0:
        num.append(i)
print(num)

[50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150]

In [2]:
a = 5
b = 10

# create a temporary variable and swap the values
temp = a
a = b
b = temp

print('The value of a after swapping: {}'.format(a))
print('The value of b after swapping: {}'.format(b))

The value of a after swapping: 10
The value of b after swapping: 5